alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias update="brew update; brew upgrade; brew cleanup; zplug update; gem update --system; gem update; ~/.tmux/plugins/tpm/bin/update_plugins all; vim +PlugUpdate +qall; sudo softwareupdate -i -a --restart"
alias serve='python -m SimpleHTTPServer'
alias l="exa -hlab --git"
alias ya="npx yarn"

