[user]
  name = Guilherme J. Tramontina
  email = guilherme.tramontina@gmail.com
  signingkey = F38C7CF9

[color]
  status = auto
  branch = auto
  log = auto
  commit = auto
  diff = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow
  local = green
  remote = cyan

[color "diff"]
  meta = yellow
  frag = cyan
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow
  untracked = blue

[core]
	excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less -s -M +Gg --tabs=4 -FRSX
  whitespace=fix,-indent-with-non-tab,trailing-space,space-before-tab,cr-at-eol

[diff]
  ignoreSubmodules = dirty
  compactionHeuristic = true

[alias]
  l = log
  lg = log --graph --pretty=format:'%C(yellow)%h %Cblue%aN %Cgreen%ar %Creset%s'
  ls = log --stat
  last = log -1 HEAD
  w = log --name-status # short whatchanged
  s = show
  d = diff --word-diff
  ds = diff --staged
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
  st = status
  ss = status -s
  ci = commit --verbose
  co = checkout
  cf = "!git ss | grep UU --color"
  ccf = "!git ss | grep UU --color | wc -l"
  br = branch
  p = push
  r = remote
  reb = "!git pull --rebase origin $(git branch | grep '*' | cut -d ' ' -f2)"
  unstage = reset HEAD --
  browse = instaweb -d webrick
  boom = clean -xfd
  prune-merged = "!git branch --merged | grep -v '\\*' | grep -v master | grep -v dev | xargs -n 1 git branch -D"
  prune = branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -D
  u = "!gitup ."
  start = "!git init && git commit --allow-empty --allow-empty-message -m ''"
  addp = "!git add --intent-to-add . && git add --patch"

[push]
  default = simple

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[gpg]
  program = gpg2

[heroku]
  account = personal

[commit]
  gpgsign = true

[rebase]
  autosquash = true
